.portrait img {
  /* temp */
  height: 60vh;
}
.portfolio {
  max-width: min(100%, 1280px);
  margin-inline: auto;
}
.wrapper {
  justify-items: center;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.project-card {
  width: min(100%, 500px);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.project-desc {
  padding: 15px 25px;
}
.project-card img {
  margin: 0;
  display: block;

  object-fit: contain;
}
.contact-img img {
  /* temp */
  width: 100%;
  object-fit: contain;
}

footer {
  display: flex;
  flex-direction: column;
}
/* style cards, then do the tablet layout */
