.portrait img {
  height: 60vh;
}

.portfolio {
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.project-card img {
  width: min(100%, 300px);
  object-fit: contain;
}
.contact-img img {
  max-width: 500px;
  object-fit: contain;
}
